.lat-chat-window {
  display: flex;
  flex-direction: column;
  gap: var(--lat-spacing-12);
  padding: var(--lat-spacing-16);
  background-color: var(--lat-color-background-subtle);
}

.lat-chat-window__slot {
  display: flex;
  flex-direction: column;
  gap: var(--lat-spacing-12);
  flex: 1 1 auto;
  overflow-y: auto;
}
