.lat-select-option {
  display: flex;
  align-items: center;
  width: 100%;
  padding: var(--lat-spacing-8);
  border: none;
  background: transparent;
  cursor: pointer;
  text-align: left;
  font-family: var(--lat-font-family-sans);
  font-size: var(--lat-font-style-body-small);
  color: var(--lat-color-text-primary);
}
.lat-select-option:hover {
  background-color: var(--lat-color-background-brand);
}
.lat-select-option:focus {
  outline: none;
}
.lat-select-option:focus-visible {
  outline: var(--lat-sizing-border-default) solid var(--lat-color-border-focus);
  outline-offset: -2px;
}
