.lat-text-field {
  display: block;
  width: 100%;
  padding: var(--lat-spacing-8);
  border-radius: var(--lat-radius-lg);
  background: transparent;
  border: 1px solid var(--lat-color-border-default);
  color: var(--lat-color-text-primary);
  font-family: var(--lat-font-family-sans);
  font-size: var(--lat-font-style-body-small);
  line-height: var(--lat-font-line-height-200-normal);
}
.lat-text-field::placeholder {
  color: var(--lat-color-text-tertiary);
}
.lat-text-field:hover:not(:disabled) {
  border-color: var(--lat-color-border-strong);
}
.lat-text-field:focus {
  outline: none;
  border-width: var(--lat-sizing-border-thin);
  border-color: var(--lat-color-border-brand);
}
.lat-text-field:disabled {
  border-color: var(--lat-color-border-subtle);
  cursor: not-allowed;
}
.lat-text-field--error {
  border-width: var(--lat-sizing-border-thin);
  border-color: var(--lat-color-border-danger);
}

.lat-text-field--filled {
  border-color: transparent;
  background-color: var(--lat-color-background-muted);
}
.lat-text-field--filled:hover:not(:disabled) {
  border-color: var(--lat-color-border-strong);
}
